@model FlightWebApplication.Models.AddFlightData
@{
    ViewBag.Title = "Edit Flight Details";
}

<h2><b>@ViewBag.Title</b></h2>
<h3>@ViewBag.Message</h3>


@using (Html.BeginForm("Edit", "AddFlight", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
 {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.FlightNumber, new { @class = "col-md-3" })
        <div class="col-md-9">
            @*@Html.HiddenFor(m => m.ID, new { @class = "form-control" })*@
            @Html.EditorFor(m => m.FlightNumber, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DestinationName, new { @class = "col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.DestinationName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.FlightDistance, new { @class = "col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.FlightDistance, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.FlightPrice, new { @class = "col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.FlightPrice, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DiscountPercentage, new { @class = "col-md-3" })
        <div class="col-md-9">
            @Html.EditorFor(m => m.DiscountPercentage, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
            <input type="submit" value="Update" />
            <input type="submit" value="Cancel" />
        </div>                 
    </div>


    <script>
        $(window).load(function () {
            $('Html.BeginForm').children('input:not(#submit)').val('')
        }
    </script>
 }


<style>
    .backbtn a {
        color: #060606;
    }

    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: bold;
        background-color: #51a5cf;
    }
</style>